
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

$body-background: rgb(189, 191, 211);
$button: rgb(208, 214, 231);
$bg-panel: rgb(122, 123, 143);
$footer: rgb(243, 244, 247);
$text: black;

body{
    background-color: $body-background;
    font-family: 'Gelasio', serif;
}

.banner{
    margin: 6rem 0;
    padding: 3rem;
    .banner-text{
        h6{
            margin-bottom: 1.5rem;
        }
        h1{
            font-size: 5rem;
            margin-bottom: 2rem;
        }
    }
    .banner-btn{
        border-radius: 0px;
        background-color: $button;
    }
}



.nav-item{
    padding: 1.0rem;
   
    a{
        color: $text !important;
    }
}

/* Menu */
.menu{
    display: flex;
    .img{
        width: 100%;
        height: auto;
        position: relative;
    }
    .bg-panel{
        background-color: $bg-panel;
        position: absolute;
        width: 540px;
        height: 330px;
        right: -3px; top: 11%;
        margin-left: 160px;
        z-index: -1;
    }
    .time{
       padding: 6rem;
       h6{
         margin-bottom:  2rem; 
       }
       .banner-btn{
        border-radius: 0px;
        background-color: $button;
    }
       .table{
           td{
            border-top: 0px;

           }
       }
    }
}

/* Third section */
.image-container{
    h3{
        font-size: 3rem;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .img1{
            width: 100%;
        }
        .img2{
            width: 100%;
        }
        .img3{
            width: 100%;
        }
        .img4{
            width: 100%;
        }
    }
    .last-text{
        margin-top: 10rem;
        margin-bottom: 10rem;
        font-size: 2rem;
    }
}



/* Footer */
.footer-container{
    background-color: $footer;
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 6rem;
        .footer, a{
            text-decoration: none !important;
            color: $text !important;
          }    
      }
}


/* Media queries */
@media screen and (max-width: 767px){
    .banner{
        .banner-text{
            h1{
                font-size: 2rem;
            }
        }
        .banner-btn{
            font-size: 1rem;
        }
    }

    .image-container{
        h3{
            font-size: 2rem;
        }
        .last-text{
            text-align: center;
        }
    }

    .time{
        .banner-btn{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 565px){
    .menu{
        .bg-panel{
            display: none;
        }
        .time{
            padding: 1rem;
            .button{
                display: flex;
                justify-content: center;
                .banner-btn{
                    width: 60%;
                }
            }
        }
    }

    .image-container{
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }

    
    .footer-container{
        .footer{
            padding: 2rem;
        }
    }
}

  
   

