@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");
body {
  background-color: #bdbfd3;
  font-family: 'PT Serif', serif;
}

.banner {
  margin: 6rem 0;
  padding: 3rem;
}

.banner .banner-text h6 {
  margin-bottom: 1.5rem;
  font-family: 'Gelasio', serif;
}

.banner .banner-text h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: 'Gelasio', serif;
}

.banner .banner-btn {
  border-radius: 0px;
  background-color: #d0d6e7;
}

.nav-item {
  padding: 1.0rem;
}

.nav-item a {
  color: black !important;
}

/* Menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .img {
  width: 100%;
  height: auto;
  position: relative;
}

.menu .bg-panel {
  background-color: #7a7b8f;
  position: absolute;
  width: 540px;
  height: 330px;
  right: -3px;
  top: 11%;
  margin-left: 160px;
  z-index: -1;
}

.menu .time {
  padding: 6rem;
}

.menu .time h2 {
  font-family: 'Gelasio', serif;
}

.menu .time h6 {
  margin-bottom: 2rem;
  font-family: 'Gelasio', serif;
}

.menu .time .banner-btn {
  border-radius: 0px;
  background-color: #d0d6e7;
}

.menu .time .table td {
  border-top: 0px;
}

/* Third section */
.image-container h3 {
  font-size: 3rem;
  font-family: 'Gelasio', serif;
}

.image-container .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.image-container .images .img1 {
  width: 100%;
}

.image-container .images .img2 {
  width: 100%;
}

.image-container .images .img3 {
  width: 100%;
}

.image-container .images .img4 {
  width: 100%;
}

.image-container .last-text {
  font-family: 'Gelasio', serif;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}

/* Footer */
.footer-container {
  background-color: #f3f4f7;
}

.footer-container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem;
}

.footer-container .footer .footer, .footer-container .footer a {
  text-decoration: none !important;
  color: black !important;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .banner .banner-text h1 {
    font-size: 2rem;
  }
  .banner .banner-btn {
    font-size: 1rem;
  }
  .image-container h3 {
    font-size: 2rem;
  }
  .image-container .last-text {
    text-align: center;
  }
  .time .banner-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 565px) {
  .menu .bg-panel {
    display: none;
  }
  .menu .time {
    padding: 1rem;
  }
  .menu .time .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .time .button .banner-btn {
    width: 60%;
  }
  .image-container {
    margin-top: 2rem;
  }
  .image-container h3 {
    text-align: center;
  }
  .image-container p {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-container .footer {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .image-container {
    text-align: center;
  }
  .image-container h3 {
    font-size: 2rem;
  }
  .image-container .last-text {
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .footer-container .footer {
    padding: 2rem;
  }
  .footer-container .footer h5 {
    font-size: 1rem;
  }
  .footer-container .footer a {
    font-size: 0.8rem;
  }
  .image-container h3 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .menu .time h2 {
    font-size: 1.8rem !important;
    font-weight: bold;
  }
}
/*# sourceMappingURL=index.css.map */